@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UniqloProBold";
  src: url("assets/fonts/UniqloProBold.woff2");
}

@font-face {
  font-family: "UniqloProLight";
  src: url("assets/fonts/UniqloProLight.woff2");
}

h4{
  font-family: serif;
  text-transform: uppercase;
}